#right-content
  .header
    .title
      October Sod Show & Rodeo
    .summary
      Save the date! October 3rd and 4th there will be a Sod Show and Rodeo at Tulsa Grass and Sod Farms, Inc.!
  .header
    .title
      Funeral Service for Wanda Jean Easton
    .summary
      Wanda Jean Easton (1928-2014)
      %br/
      The service will be Monday, 6/9/2014 at 10:00 AM at RiverCrest Chapel, 13329 S. Memorial Dr., Bixby, Oklahoma 74008
      %br/
      %a{:href => "http://www.bixbyfuneralservice.com/pages/service-information.asp?id=777"}
        bixbyfuneralservice.com
